<div class="banner">
</div>

<div class="web-container">
  <h1>Rent the perfect car</h1>
  <p>Search in seconds among thousands of cars</p>
  <div id="search-container"><%= form_tag cars_path, class: "search", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "ðŸ” Enter location"%>
  </div>
  <%= submit_tag "Search", class: "home-cta" %>
   <%end%>

</div>



