.container {
  width: 900px;
  margin: 0 auto;

}

.container h1 {
  color: white;
  padding-top: 80px;
  font-size: 60px;
  text-align: center;
}

.container p {
  color: white;
  margin-top: 8px;
  // width: fit-content;
  font-size: 24px;
  background: #4949528a;
  text-align: center;
}
