.web-container {
  width: 900px;
  margin: 0 auto;
  font-size: 24px;
  text-align: left;
  min-height: 85vh;

}

.web-container h1 {
  color: white;
  padding-top: 80px;
  font-size: 60px;
  font-weight: 300;
}

.web-container p {
  color: white;
  margin-top: 8px;
  // width: fit-content;
  font-size: 24px;
  background: #49495217;
  margin-bottom: 55px;
  font-weight: 300;
}


.web-container .h1-results {
  color: black;
  padding-top: 80px;
  font-size: 20px;
  text-align: left;
  padding-top: 5px;
  margin-bottom: 10px;
}

#h1-results {
  font-size: 24px;
}
