<div class="web-container">
  <h1 class="h1-results">128 cars in Barcelona</h1>
  <div class="cars-list">
    <div class="car-card">
      <%= image_tag("nissan.jpg") %>
      <div class="car-price">
        <p>Nissan Qasqai</p>
        <p>60 € / day</p>
      </div>
    </div>

    <div class="car-card">
      <%= image_tag("nissan.jpg") %>
      <div class="car-price">
        <p>Nissan Qasqai</p>
        <p>60 € / day</p>
      </div>
    </div>

    <div class="car-card">
      <%= image_tag("nissan.jpg") %>
      <div class="car-price">
        <p>Nissan Qasqai</p>
        <p>60 € / day</p>
      </div>
    </div>

    <div class="car-card">
      <%= image_tag("nissan.jpg") %>
      <div class="car-price">
        <p>Nissan Qasqai</p>
        <p>60 € / day</p>
      </div>
    </div>
  </div>
</div>
